<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a Postdoctoral Fellow at
      <a class="underline-link" href="https://www.upstatement.com/" target="_blank">King Fahd University of Petroleum and Minerals</a>
       where I carry out teaching and research functions.
    </p>

    <p>
      As a software engineer, I enjoy designing and architecting applications that solve problems for small and medium scale businesses, 
      educational institutions and cooperate human resources.
    </p>

    <p>
      <strong>I spend my leisure</strong> reading and sharing memorable moments with my family.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
